:root {
    /* Color */
    --color-white: #ffffff;
    --color-white-grey: #e9e9e9;
    --color-primary-grey: #f4f2ec;
    --color-middle-grey: #7f7d79;
    --color-light-grey: #c1bfba;
    --color-dark-grey: #a9a7a3;
    --color-description: #555555;
    --color-black: #000000;
    --color-blue: #72c0f0;
    --color-yellow: #fff7d1;
    --color-orange: #f0a272;

    /* Font size */
    --font-large: 38px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size(패딩,마진 등의 규격) */
    --size-border-radius: 4px;
    --size-img : 150px;
    --size-margin : 16px 0px 28px 0px;

    /* Animation */
    --animation-duration: 300ms;
}


    /* Universal tags (전체에 입힐 효과) */
    * {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: var(--color-black);
        cursor: pointer;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        cursor: default;
    }
    
    ul {
        list-style: none;
        padding-left: 0;
    }

    button{
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /* Section Common (각 섹션에 공통으로 줄 스타일) */
    .section {
        padding: 50px;
        margin: auto;
    }
    
    .section__container{
        max-width: 1200px;
        margin: auto;
    }

    /* Typograpy (글자 규격 맞춰놓기) */
    h1{
        font-size: var(--font-large);
        font-weight: var(--weight-bold);
        color: var(--color-black);
        margin: 16px 0;
    }
    
    h2{
        font-size: var(--font-medium);
        font-weight: var(--weight-semi-bold);
        color:var(--color-black);
        margin: 8px 0px;
    }
    
    h3{
        font-size: var(--font-regular);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 8px 0;
    }
    
    p{
        font-size: var(--font-small);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 4px 0;
    }




    /* maketrip (내 여행을 만들어보세요) */
    #maketrip{
        background-color: #72c0f0;
        padding: 50px;
        text-align: center;
    }

    .maketrip__title,
    .maketrip__description{
        color:var(--color-white);
    }

    .maketrip__btn{
        font-size: var(--font-regular);
        font-weight: var(--weight-bold);
        margin: 24px;
        padding: 8px 12px;
        border: 2px solid;
        border-radius: var(--size-border-radius);
    }

    .maketrip__description{
        max-width: 800px;
        margin: auto;
    }


    /* pickcity (이런 여행지 어때요?) */
    .pickcity__container{
        display: flex;
        margin: var(--size-margin);
    }

    .pickcity__img_container{
        width:var(--size-img);
        height: var(--size-img);
        background-color: #ffc061;
    }

    .pickcity__title,
    .pickcity__city_name,
    .pickcity__img_container{
        margin: 8px;
    }

    .pickcity__img{
	    max-width: 100%;
	    max-height: 100%;
    /*자기 컨테이너 안에서만 크고작아지게*/
    }



    /* reviews (다른 사람 여행 보기) */

    .reviews__container{
        display: flex;
        margin: var(--size-margin);
    }

    .reviews__img_container{
        width:var(--size-img);
        height: var(--size-img);
        background-color: #ffc061;
        margin: 8px;
    }

    .reviews__title,
    .reviews__name,
    .reviews__img_container{
        margin: 8px;
    }

    .reviews__img{
	    max-width: 100%;
	    max-height: 100%;
    /*자기 컨테이너 안에서만 크고작아지게*/
    }


    

    
    