<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cityDetail">


	<select id="selectlist" resultType="Company_join_Company_infoDto" parameterType="String">
		SELECT COM.COMPANY_NO, COM.COMPANY_NAME, COM.COMPANY_SORT,COM.COMPANY_CITY, INFO.COMPANY_IMG
		FROM COMPANY COM, COMPANY_INFO INFO
		WHERE INFO.COMPANY_ADDR1 LIKE '%'||#{city}||'%'
		AND COM.COMPANY_NO = INFO.COMPANY_NO
	</select>



</mapper>
