<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company">

	<select id="selectList" resultType="CompanyDto">
		SELECT COMPANY_NO, COMPANY_NAME, MEMBER_NO, COMPANY_SORT
		FROM COMPANY
	</select>
	
	<select id="selectOne" resultType="CompanyDto">
		SELECT COMPANY_NO, COMPANY_NAME, MEMBER_NO, COMPANY_SORT
		FROM COMPANY
		WHERE COMPANY_NO = {company_no}
	</select>
	
	<insert id="insert" parameterType="CompanyDto">
		INSERT INTO COMPANY
		VALUES(COMPANY_SEQ.NEXTVAL, #{company_name}, #{member_no}, #{company_sort})
	</insert>
	
	

</mapper>
