<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.companyinfo">

	<select id="selectList" resultType="CompanyDto">
		SELECT COMPANY_NO, COMPANY_CONTENT, COMPANY_TEL, COMPANY_NUMBER, COMPANY_ADDR, COMPANY_IMG
		FROM COMPANY
	</select>
	
	
	
	<insert id="insert" parameterType="CompanyDto">
		INSERT INTO COMPANY
		VALUES(COMPANY_SEQ.NEXTVAL, #{company_name}, #{member_no}, #{company_sort}, #{company_content}, 
		#{company_tel}, #{company_number}, #{company_img},
		#{company_addr} , #{company_city})
	</insert>
	
	<update id="updateMemberGrade" parameterType="int">
		UPDATE MEMBER SET MEMBER_GRADE = 2
		WHERE MEMBER_GRADE = 1
		AND MEMBER_NO = #{member_no}
	</update>
	
	<select id="allList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO
	</select>
	
	<select id="roomsList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='숙소'
	</select>
	
	<select id="foodList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='음식점'
	</select>
	
	<select id="tourList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='관광지'
	</select>
	
	<select id="markList" resultType="CompanyDto" parameterType="int">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COM.COMPANY_NO=(SELECT COMPANY_NO FROM BOOKMARK WHERE MEMBER_NO=#{member_no})
	</select>

</mapper>
