<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.companyinfo">

	<select id="selectList" resultType="CompanyDto">
		SELECT COMPANY_NO, COMPANY_IMG, COMPANY_CITY, COMPANY_SORT
		FROM COMPANY ORDER BY COMPANY_NO
	</select>
	
	
	
	<insert id="insert" parameterType="CompanyDto" useGeneratedKeys="true" keyProperty="company_no"  keyColumn="COMPANY_NO">
		INSERT INTO COMPANY (COMPANY_NO, COMPANY_NAME, MEMBER_NO, COMPANY_SORT, COMPANY_CONTENT,
		COMPANY_TEL, COMPANY_NUMBER, COMPANY_IMG, COMPANY_ADDR, COMPANY_CITY)
		VALUES(COMPANY_SEQ.NEXTVAL, #{company_name}, #{member_no}, #{company_sort}, #{company_content}, 
		#{company_tel}, #{company_number}, #{company_img},
		#{company_addr} , #{company_city})
	</insert>
	
	<update id="updateMemberGrade" parameterType="int">
		UPDATE MEMBER SET MEMBER_GRADE = 2
		WHERE MEMBER_GRADE = 1
		AND MEMBER_NO = #{member_no}
	</update>
	
	<select id="allList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO
	</select>
	
	<select id="roomsList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='숙소'
	</select>
	
	<select id="foodList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='음식점'
	</select>
	
	<select id="tourList" resultType="CompanyDto">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COMPANY_SORT='관광지'
	</select>
	
	<select id="markList" resultType="CompanyDto" parameterType="int">
		SELECT COM.COMPANY_NO, COM.COMPANY_ADDR, COMPANY_IMG, COMPANY_PRODUCT, COMPANY_MONEY 
		FROM COMPANY COM INNER JOIN COMPANY_PRICE PRICE 
		ON COM.COMPANY_NO=PRICE.COMPANY_NO WHERE COM.COMPANY_NO=(SELECT COMPANY_NO FROM BOOKMARK WHERE MEMBER_NO=#{member_no})
	</select>
	
	<insert id="insertCom_menu" parameterType="hashmap">
		INSERT INTO COMPANY_PRICE(PRICE_NO, COMPANY_NO, COMPANY_PRODUCT, COMPANY_MONEY)
		SELECT PRICE_SEQ.NEXTVAL, A.* FROM(
			<foreach collection="list" item="item" separator="UNION ALL">
				SELECT #{item.company_no} as company_no,
				#{item.company_product} as company_product,
				#{item.company_money} as company_money
				FROM DUAL
			</foreach>)A
	</insert>
	<select id="mylist" resultType="CompanyDto" parameterType="int">
		SELECT * FROM COMPANY WHERE MEMBER_NO = #{member_no}
	</select>


	<select id="addrlist" resultType="CompanyDto">
		SELECT COMPANY_ADDR FROM COMPANY
	</select>
</mapper>
