<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan">

	<resultMap type="com.finals.fogams.model.dto.CompanyDto" id="CompanyDto">
		<id property="company_no" column="company_no"/>
		<id property="company_name" column="company_name"/>
		<id property="member_no" column="member_no"/>
		<id property="company_sort" column="company_sort"/>
		<id property="company_content" column="company_content"/>
		<id property="company_tel" column="company_tel"/>
		<id property="company_number" column="company_number"/>
		<id property="company_img" column="company_img"/>
		<id property="company_addr" column="company_addr"/>
		<id property="company_city" column="company_city"/>
		<id property="company_product" column="company_product"/>
		<id property="company_money" column="company_money"/>
	</resultMap>

	<resultMap type="com.finals.fogams.model.dto.PlanDto" id="PlanDto">
		<id property="member_no" column="member_no"/>
		<id property="plan_no" column="plan_no"/>
		<id property="company_no" column="company_no"/>
		<id property="plan_time" column="plan_time"/>
		<id property="plan_price" column="plan_price"/>
		<id property="plan_title" column="plan_title"/>
	</resultMap>
	
	<resultMap type="com.finals.fogams.model.dto.TestBean" id="TestBean">
		<collection property="company" resultMap="CompanyDto"></collection>
		<collection property="plan" resultMap="PlanDto"></collection>
	</resultMap>

	<insert id="planListInsert" parameterType="PlanDto">
		<selectKey keyProperty="plan_no" resultType="int" order="BEFORE">
			SELECT PLANLIST_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PLANLIST VALUES(#{plan_no },#{plan_title }, #{member_no}, SYSDATE)
	</insert>
	
	<insert id="planInsert" parameterType="java.util.Map">
		<foreach collection="list" item="dto" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
                 INTO PLAN(PLAN_NO, COMPANY_NO, PLAN_TIME, PLAN_PRICE) VALUES
			(#{dto.plan_no},#{dto.company_no},#{dto.plan_time},#{dto.plan_price})
         </foreach>
	</insert>
	
	<select id="selectList" resultType="PlanListDto" parameterType="int">
		SELECT * FROM PLANLIST WHERE MEMBER_NO = #{member_no}
	</select>
	
	<select id="" resultMap="TestBean">
		select * from company c, plan p
		where c.company_no = p.company_no and member_no = #{member_no} and plan_no = #{plan_no}
	
	</select>
	
</mapper>