<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reply">

	<select id="selectList" resultType="ReplyDto">
		SELECT REPLY_NO, MEMBER_NO, COMPANY_NO, REPLY_STAR, REPLY_CONTENT, REPLY_DATE
		FROM REPLY
		WHERE COMPANY_NO = #{company_no}
		ORDER BY REPLY_NO
	</select>

</mapper>
