<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.review">

	<select id="selectList" resultType="ReviewDto">
		SELECT REVIEW_NO,
		REVIEW_TITLE, REVIEW_CONTENT, MEMBER_NO, REVIEW_DATE, PLAN_NO
		FROM
		REVIEW
	</select>

	<select id="selectOne" resultType="ReviewDto"
		parameterType="int">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, MEMBER_NO, REVIEW_DATE,
		PLAN_NO
		FROM REVIEW
		WHERE REVIEW_NO = #{review_no}
	</select>
	
	<insert id="insert" parameterType="ReviewDto">
		INSERT INTO 
		
		
	</insert>




</mapper>
