<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.finals.fogams.model.dto.CompanyDto" alias="CompanyDto"/>
		<typeAlias type="com.finals.fogams.model.dto.Company_InfoDto" alias="Company_InfoDto"/>
	</typeAliases>


	
	<mappers>
		<mapper resource="/mybatis/Company-mapper.xml"/>
		<mapper resource="/mybatis/company_info-mapper.xml"/>
		<mapper resource="/mybatis/cityDetail_mapper.xml"/>
	</mappers>


</configuration>
