<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.finals.fogams.model.dto.CompanyDto" alias="CompanyDto"/>
		<typeAlias type="com.finals.fogams.model.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.finals.fogams.model.dto.BookmarkDto" alias="BookmarkDto"/>
		<typeAlias type="com.finals.fogams.common.util.PagingDto" alias="PagingDto"/>
		<typeAlias type="com.finals.fogams.common.util.Criteria" alias="Criteria"/>
	</typeAliases>


	
	
	<mappers>
		<mapper resource="/mybatis/Company-mapper.xml"/>
		<mapper resource="/mybatis/CompanyInfo-mapper.xml"/>
		<mapper resource="/mybatis/cityDetail_mapper.xml"/>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/Personal_menu-mapper.xml"/>
	</mappers>


</configuration>
